body {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .sender-column {
    text-align: right;
  }
  
  h1 {
    font-size: 1.5em;
  }
  
  h2 {
    font-size: 1.3em;
  }
  
  font {
    font-size: 1.1em;
  }
  
  text {
    line-height: 1.5;
  }

  s {
    text-indent: 50px;
  }