body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{
    color: #0650db;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
section{
    color: #6191ea;
    margin: 10px 20px;
}
p{
    color: black;
}
h1{
    text-decoration-line: underline;
    text-decoration-color: #0650db;
}